.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickedButton {
  background-color: #5c47d2;
  border-radius: 8px;
  border: none;
  padding: 8px;
  color: white;
}
.unclickedButton {
  background-color: white;
  border-radius: 8px;
  border: none;
  padding: 8px;
  color: #5c47d2;
  border: solid 1px #5c47d2;
}
.no {
  margin: 10px;
  background-color: red;
  padding: 5px;
}
